body {
    font-family: 'sans-serif';
    font-family: 'Pirata One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header "
        "nav nav nav nav "
        "main main main main "
        "footer footer footer footer ";
}

header {
    grid-area: header;
    background-color: #F5DBC3;
    position: relative;
    width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;
    /* Enrique's Portfolio  */
    font-family: 'Pirata One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 135px;
    position: absolute;
    text-align: center;
}

nav {
    grid-area: nav;
    /* / Rectangle 4 */
    position: static;
    height: 60px;
    width: 1341px;
    top: 127px;
    right: 0px;
    left: 0px;

    background: #2C2208;
}

.navdet{
    font-size: 35px;
    min-height: 200px;
    height: 200px; 
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #2C2208;
    font-size: larger;
}

li {
    float: left;
    display: flex;
    justify-content: space-around;
}
.topcenter {
    float: none;
    position: relative;
    top: 120px;
    width:5%;
    left:15%;
    transform: translate (-50%, -50%);
    text-decoration: underline;
}

.topcenter2 {
    float: none;
    position: relative;
    top: 43px;
    width: 10%;
    left: 25%;
    transform: translate (-50%, -50%);
    text-decoration: underline;
}

.topcenter3 {
    float: none;
    position: relative;
    top: -33px;
    width: 15%;
    left: 35%;
    transform: translate (-50%, -50%);
    text-decoration: underline;
}

.topcenter4 {
    float: none;
    position: relative;
    top: -110px;
    width: 20%;
    left: 45%;
    transform: translate (-50%, -50%);
    text-decoration: underline;
}

.topcenter5 {
    float: none;
    position: relative;
    top: -185px;
    width:25%;
    left: 55%;
    transform: translate (-50%, -50%);
    text-decoration: underline;
}

li a {
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    list-style-type: none;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}

/* index */
main {
    grid-area: main;
    color: black;
    font-family: 'sans-serif';
    position:relative; left: 0px; top: 147px; 
}

.luffyposter{
    width: 300px;
    border-radius: 125px;
    float: left;
    height: 50%;
    padding: 5%;
}

.intro {
    top: 70%;
    width: 80%;
    font-size: 35px;
    margin: 100px;
}
.name {
    top: 50%;
    font-size: 40px;
}

.text{
    top:50%;
    font-size: 20px;
}
/* portfolios */
.portfolio-HTML-CSS {
    top: 1000px;
    width: 400px;
    display: block;
    height: 150px;
    margin: 8px;
    float: left;
}

.HTMLPic{
    font-size: 35px;
}

.Two{
    font-size: 30px;
}

 /* contacts */
.contact{
    justify-content: center;
    align-items: center;
}

 .icons {
    position: relative;
    min-width: none;
    width: 60px;
    min-height: 50px;
    height: 60px;
    display: flex;
    float: left;
    left: 15px;
}

.logos{
    position: relative;
    top: 50px;
}
.textlogo {
    position: relative;
    float: left;
    top: 70px;
    width:100px;
    left: 30px;
}

.h4{
    position: relative;
    font-family: 'Pirata One';
    min-height: -10px;
    height: -10px;
    font-size: 45px;
}

.contactform {
    position: relative; left: -650px; top: -30px;
    height: 0px;
    float: right;
    text-align: center;
    width: 10%;
    
}

.h3 {
    font-family: 'Pirata One';
    font-size: 35px;
}
.span{
    font-size: 20px;
    
}


.input{
    top: 0px;
    min-height: 25px;
    height: 70px; 
}

footer {
    grid-area: footer;
    bottom: auto;
    color: black;
    position:relative; left: 0px; top: 275px;

}
